{% extends 'base.html' %}
{% block title %}
    LogIn
{% endblock title %}
{% block content %}
<div style="text-align: center; color: brown; background-color: rgb(0, 0, 0)">
  <h1 style="color: antiquewhite;">Login</h1>
  <form method="post" enctype="multipart/form-data" style="text-align: center;">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-light">Login</button>
  </form>
  <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam sunt fuga pariatur? Optio, iusto minima amet aspernatur soluta tempore eligendi fugiat cumque libero, ipsa earum quo voluptates ea, quaerat harum!</h1>
  <h1 style="color: aliceblue;">우리는 당신을 사랑하고 기다립니다</h1>
</div>
{% endblock content %}