{% extends 'base.html'%}
{% block title %}
  GOODFOOD
{% endblock title %}
{% block style %}
<style>
  .body{
    background: #d78c2a;
  }
</style>
{% endblock style %}

{% block content %}
 <h1 style="color: #533105;">
  About the hotel On this site you can get 
  acquainted with our hotel called lifehotel!
  Our hotel is cheap and compact compared to other hotels. 
  We have everything you need, we have fitness rooms, massage rooms, 
  breakfast rooms and dinner rooms, the difference is that you can eat out during dinner because our Lifehotel is outside the city. 
  Those places will be restful and quiet and will give you a good rest.
  We prepare food according to your choice. We hope you will choose us!☻
</h1>

{% endblock content %}