

<h1 style="color: #000000;">______________________________________________________________________________________________________________________________</h1>



<h1 style="text-align: center;">This simple site was created by a TECHNOPOS student</h1>
<h1 style="text-align: center;">The Best Teacher: shaxruxtleubaev</h1>

<h1 style="text-align: center;"><i class="fa-brands fa-instagram" style="color: #000000;"></i>: @lifehouse</h1>
<h1 style="text-align: center;"><i class="fa-brands fa-facebook" style="color: #01060e;"></i> : LiFeHoUsE</h1>
<h1 style="text-align: center;"><i class="fa-brands fa-youtube" style="color: #01060e;"></i>: LiFeHoUsE</h1>


