<nav class="navbar" style="background-color: #52320a;">
<div class="container-fluid" style="color: aliceblue; font-size: 30px;">
 <a href="{% url 'home_pagea' %}"><i class="fa-solid fa-hotel" style="color: #ffa200;"></i></a>
 <div></div>
  <a class="nav-link" href="{% url 'hotel_list' %}"><i class="fa-solid fa-house" style="color: #000205;"></i> Home</a>
  <a class="nav-link" href="{% url 'food_list' %}"><i class="fa-solid fa-square" style="color: #000000;"></i> Room</a>
  <a class="nav-link" href="{% url 'my_post' %}"> <i class="fa-solid fa-user" style="color: #000000;"></i> user</a>

</div>
</nav>
  
